doctype html
html
 head
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
   article.container
     each l in lego
       div.person
         div.person-image(style=`background: url('/images/${l.imgSrc}') top center no-repeat; background-size: cover;`)
         h2.person-name
           | #{l.Nome}
         a(href=`/l?Numero=${l.Numero}`)
           | View Profile